@font-face {
  font-family: 'JosefinSans-Regular';
  src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SweetPea';
  src: url('../fonts/SweetPea.ttf') format('truetype');
}