* {
  box-sizing: border-box;
}

img {
  transform: translate3d(0,0,0);
}

body {
  font-family: 'JosefinSans-Regular';
  padding-bottom: 250px;
  margin: 0;
  overflow-x: hidden;

  > h2 {
    padding: 3rem 0 0;
    margin: 0;
    line-height: 4rem;
    font-size: 4rem;
    font-weight: 100;
    font-family: 'JosefinSans-Regular';
    text-transform: lowercase;
  }

  > hr {
    position: relative;
    border: 1px solid black;
    height: 0;
    margin: 100px 0 0;

    z-index: 9;

    & + h2 {
      margin: -5rem 0 100px 0;

      span {
        position: relative;
        display: inline-block;
        background-color: white;
        padding: 0 1rem;
        z-index: 9;
      }
    }
  }
}

a,
button {
    transition: transform 0.1s linear;

    &:active {
      transform: scale(0.9);
    }
}

header {
  display: block;

  button.open-menu {
    display: block;
    background-color: white;
    width: 100%;
    padding: 1rem 2rem 1.5rem;
    border: none;
    margin: auto;
    font-size: 3rem;
    font-weight: 100;
    outline: none;
    text-transform: lowercase;

    &:after { 
      content:'\2630'; 
      display: inline block;
      margin-left: 10px;
    }

    @media ( min-width: $screen_sm ) {
      display: none;
    }
  }
}

nav {
  transition: height 0.5s ease-in-out;

  > ul {
    list-style-type: none;
    padding: 100px 0 0;
    margin: 0;

    li {
      flex: 1;
      position: relative;
      padding: 0;
      margin: 0;

      a {
        display: block;
        color: black;
        padding: 1rem 0;
        font-size: 2rem;
        line-height: 1rem;
        text-align: center;
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }
  
  @media ( max-width: $screen_sm ) {
    height: 0;

    .row {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: 25px;
    }
  }

  .menu {
    position: absolute;
    top: 3rem;
    width: 100%;
    height: 0;
    list-style-type: none;
    background-color: white;
    padding: 0;
    z-index: 9;
    overflow: hidden;

    li {
      position: relative;
      padding: 0;
      margin: 0;
      
      a {
        display: block;
        color: white;
        line-height: 1rem;
        padding: 2rem 0;
        font-size: 2rem;
        text-align: center;
      }

      &:nth-child(1) a {
        background-color: #666;
      }
      &:nth-child(2) a {
        background-color: #555;
      }
      &:nth-child(3) a {
        background-color: #444;
      }
      &:nth-child(4) a {
        background-color: #333;
      }
      &:nth-child(5) a {
        background-color: #222;
      }
      &:nth-child(6) a {
        background-color: #111;
      }
      &:nth-child(7) a {
        background-color: #000;
      }
    }
  }

  > ul li:hover .menu,
  > ul li:focus .menu {
    height: auto;
  }
}

section {
  overflow: hidden;
  padding-bottom: 150px;
}

.hero {
  position: relative;
  background-color: #ccc;
  padding: 200px 0;
  overflow: hidden;

  h1 {
    color: white;
    margin: 0;
    font-size: 8rem;
    font-weight: 100;

    text-shadow: 0 5px 10px rgba(0,0,0,0.3);

    small {
      display: block;
      font-size: 4rem;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 30vw solid transparent;
    border-right-color: rgba(255,255,255,0.3);
    border-top-width: 0;
  }
}

.details {
  background-position: center;
  background-image: url(../images/cactus-background.png);
  background-size: cover;

  background-color: #ddd;
  padding: 150px 0;

  .row {
    margin-left: 20px;
    margin-right: 20px;
  }

  [class^=col] {
    background-color: white;
    padding: 3rem;
    margin: 1rem 1rem 5rem;
    text-align: center;

  }

  .title {
    display: block;
    color: #5b6c1a;
    font-size: 3rem;
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 1rem;
    font-family: 'SweetPea';

    &.sub {
      color: black;
      font-family: 'JosefinSans-Regular';
      text-transform: uppercase;
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.5rem;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }

  @media ( max-width: $screen_sm ) {
    .row {
      flex-direction: column;
      margin-left: 50px;
      margin-right: 50px;

      [class^=col] {
        flex: 1;
      }

      img {
        height: 300px;
      }
    }
  }
}

.work {

}

.work,
.photos {
  img.responsive {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
}

h2#photos {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: -5vw;
    width: 0;
    height: 0;
    border: 30vw solid transparent;
    border-right-color: #ddd;
    border-top-width: 0;

    z-index: 1;
  }
}

.photos {
  img {
    position: relative;
    z-index: 2;
  }

  button {
    display: block;
    background: white;
    line-height: 2rem;
    padding: 2rem 1em 1.5rem;
    border: 2px solid black;
    margin: 100px auto 0;
    text-align: middle;
    font-size: 3rem;
    font-weight: 100;
    font-family: 'JosefinSans-Regular';
    text-transform: uppercase;

    outline: none;
  }
}

.about {
  p {
    color: #6D7D27;
    line-height: 4rem;
    font-size: 2rem;

    &:first-child {
      font-size: 5rem;
      font-weight: 100;
    }
  }

  img {
    margin-top: 15vw;
  }
}

.more {
  height: 0;
  padding-top: 50px;
  overflow: hidden;
  transition: height 1s ease-in-out;
}

img.responsive {
  max-width: 100%;
}

.bg-white {
  background-color: white;
}

.text-left { text-align: left; }
.text-right { text-align: right; }